{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'popcorn.png'%}">
    </a>
    <h1>Find the Movie You've Been Looking For</h1>
    <p>Overwhelmed by all of the options out there? We've placed all the information about IMDb's Top 250 movies all in one place so that you can make the decision quicker!</p>
    <!--<a type="button" class="btn btn-lg btn-default" href="https://github.com/yuminz/316Spring2017"><span class="fa fa-github"></span> View Source</a>-->
  </div>
</div>
<div class="container">
    {{test }}
  <div class="panel-group">
      <form action="/search/" method="get" style="margin-bottom: 50px">
          <div style="text-align: center">
            <span>Title</span>
            <input type="text" name="searchTitle" placeholder="Enter a search" style="padding-left:4px;width:50%"/>
            <input type="submit" name="enter" value="Submit" />
          </div>
      </form>
      <form action="/search/" method="get" style="margin-bottom: 50px">
          <div style="text-align: center">
            <span>Genre</span>
            <input type="text" name="searchGenre" placeholder="Enter a search" style="padding-left:4px;width:50%"/>
            <input type="submit" name="enter" value="Submit" />
          </div>
      </form>
      <form action="/search/" method="get" style="margin-bottom: 50px">
          <div style="text-align: center">
            <span>Director</span>
            <input type="text" name="searchDirector" placeholder="Enter a search" style="padding-left:4px;width:50%"/>
            <input type="submit" name="enter" value="Submit" />
          </div>
      </form>
      <form action="/search/" method="get" style="margin-bottom: 50px">
          <div style="text-align: center">
            <span>Rating</span>
            <input type="text" name="searchRating" placeholder="Enter a search" style="padding-left:4px;width:50%"/>
            <input type="submit" name="enter" value="Submit" />
          </div>
      </form>
    {% for movie in movies %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ movie.title }} ({{ movie.date_released.year }})</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <img src={{movie.poster_path}}/>
          </div>
          <div class="col-md-4">
            <b>Plot:</b> {{ movie.plot }}
            <br />
            <br />
            <b>Genre:</b> {{ movie.genre}}
            <br />
            <br />
            <b>Grossed:</b> ${{movie.grossed}} million (US)
            <br />
            <br />
            <b>Actors:</b>
            {% for actor in movie.zipped_actors %}
              <a href={{ actor.1 }} target="_blank">{{ actor.0 }}{{ forloop.last|yesno:",&#44;"|safe }}</a>
            {% endfor %}
            <br />
            <br />
            <b>Director:</b>
            <a href={{ movie.director_link }} target="_blank">{{ movie.director_name }}</a>
          </div>
          <div class="col-md-4 text-center">
            <h2>Ratings</h2>
            <button class="btn btn-primary" type="button">
              Our Rating <span class="badge">{{ movie.custom_score }}</span>
            </button>
            <br />
            <br />
            <b>IMDb</b>
            <div class="progress text-center">
              <div class="progress-bar progress-bar-warning  progress-bar-striped" style={{ movie.imdb_rating_text }}>
                <span>
                  {{ movie.imdb_rating }}
                </span>
              </div>
            </div>
            <br />
            <br />
            <b>Rotten Tomatoes</b>
            <div class="progress text-center">
              <div class="progress-bar progress-bar-danger progress-bar-striped" style={{ movie.rotten_rating_text }}>
                <span>
                  {{ movie.rotten_rating }}
                </span>
              </div>
            </div>
            <br />
            <br />
            <b>Metascore</b>
            <div class="progress text-center">
              <div class="progress-bar progress-bar-success progress-bar-striped" style={{ movie.metascore_text }}>
                <span>
                  {{ movie.metascore }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</div>
{% endblock %}
