{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'popcorn.png'%}">
    </a>
    <h1>Find the Movie You've Been Looking For</h1>
    <p>Overwhelmed by all of the options out there? Look no farther, we provide you with all the tools to find the perfect movie!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/yuminz/316Spring2017"><span class="fa fa-github"></span> View Source</a>
  </div>
</div>

</div>
{% endblock %}
